<!DOCTYPE html>
<html>
  <head>    
    <meta property="og:title" content="Cryptbase" />
    <meta property='og:image' content="https://engineering-aa.s3-us-west-1.amazonaws.com/cryptbase_sc.png"/>
    <meta property="og:description" content="Cryptbase, a clone of the popular cryptocurrency site, Coinbase, is a web app that allows users to buy, sell, and manage a cryptocurrency portfolio."/>
    <meta property="og:url" content="http://cryptbase.herokuapp.com/#/"/>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">window.homeImage= '<%=image_url('home-icon-home-house-icon-house-icon-free-11553508857ouiuhg9nsa.png')%>'</script>
    <script type="text/javascript">window.portfolioImage= '<%=image_url('portfolio-217-536730.png')%>'</script>
    <script type="text/javascript">window.pricesImage= '<%=image_url('107-1077603_png-black-and-white-stock-combo-chart-icon.png')%>'</script>
    <script type="text/javascript">window.fleetspace= '<%=image_url('fleetspace.png')%>'</script>
    <script type="text/javascript">window.findyoursquad= '<%=image_url('findyoursquad.png')%>'</script>
    <script type="text/javascript">window.github1= '<%=image_url('github-1.png')%>'</script>
    <script type="text/javascript">window.github2= '<%=image_url('github-2.png')%>'</script>
    <script type="text/javascript">window.linkedin= '<%=image_url('linkedin.png')%>'</script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Cryptbase</title>



  </head>

  <body>
    <%= yield %>
    
  </body>
</html>
