<!DOCTYPE html>
<html>
  <head>
    <title>Cryptbase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">window.homeImage= '<%=image_url('home-icon-home-house-icon-house-icon-free-11553508857ouiuhg9nsa.png')%>'</script>
    <script type="text/javascript">window.portfolioImage= '<%=image_url('portfolio-217-536730.png')%>'</script>
    <script type="text/javascript">window.bellImage= '<%=image_url('bell-512.webp')%>'</script>
    <script type="text/javascript">window.pricesImage= '<%=image_url('107-1077603_png-black-and-white-stock-combo-chart-icon.png')%>'</script>
    <script type="text/javascript">window.giftImage= '<%=image_url('101-1014006_png-file-svg-gift-icon-png-blue-transparent.png')%>'</script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    
  </body>
</html>
